* {
    box-sizing: border-box;
}

/* Page __________________________________ */
.app-logo {
    display: block;
    margin: auto;
    width: 25vmax;
    height: auto;
}

h1 {
    margin: 0;
    padding: 0;
}


/* SyncFusion ____________________________ */
.sfpopup-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
}


/* New product ___________________________ */
.button-new-item___container {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Product _______________________________ */
.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 460px;
    margin: 3vmax;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    /*box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;*/
    /*box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px;*/
    /*box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0;*/
    /*overflow: hidden;*/
}

.product-image {
    width: 93%;
    height: 40%;
    object-fit: cover;
}

.product-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #1c1c1c;
    margin: 6px 0 0 20px;
    padding: 0;
}
.product-name > h3 {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: 700;
}
.product-name > p {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    font-weight: 400;
}

.product-description {
    margin: 6px 10px 0 10px;
    padding: 0;
    height: 70px;
    overflow: auto;
}

.product-card___info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-product-pricing {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.new-product-price {
    font-size: 1.2em;
    font-weight: 900;
    color: #e5533c;
}

.old-product-price {
    font-size: 0.8em;
    text-decoration: line-through;
    color: #bcbeb6;
    margin: 0 10px 0 10px;
}

.discount-value {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fce6e6;
    color: #e5533c;
    padding: 5px 10px;
    border-radius: 4px;
}
.discount-value > p {
    margin: 0;
}

.product-price {
    font-size: 1.2em;
    color: #131313;
}