@page "/"
@inherits CatalogBase

<PageTitle>Catalog</PageTitle>

@code {
    
}

<div>
    <h3>Products</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <!-- ... autres colonnes -->
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <!-- ... autres colonnes -->
                </tr>
            }
        </tbody>
    </table>
</div>