@page "/"
@inherits CatalogBase

<PageTitle>Catalog</PageTitle>

@code {
    
}

<div>
    <h3>Products</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Promotions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var productWithPromotions in ProductsWithPromotions)
            {
                <tr>
                    <td>@productWithPromotions.Product.Id</td>
                    <td>@productWithPromotions.Product.Name</td>
                    <td>@productWithPromotions.Product.Price</td>
                    <td>
                        @foreach (var promotion in productWithPromotions.Promotions)
                        {
                            <div>@promotion.DiscountPercentage% off</div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>