@inherits LayoutComponentBase

<PageTitle>Mercadona</PageTitle>

<div class="page">
    <main>
        
        <h1>
            <img class="app-logo" src="resources/Img/mercadona-title.png" alt="mercadona_logo.png image"/>
        </h1>

        @Body
        
    </main>
</div>